{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}
{% block content %}
    <h1 class="text text-center">Excellent!</h1>
    <p>If you're reading this in a browser, it means you've successfully managed to install and run Django on your server/computer</p>
    <p>To celebrate, let's enjoy an image of a cat from <a href="://thecatapi.org">The Cat API</a></p>
    <div align="center">
        <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
{% endblock %}